# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad
*.xcsettings

# SwiftPM
.swiftpm/
.build/

# Logs
*.log

# User interface state
*.xcuserstate

# Simulator
*/CoreSimulator/*